.buttons {
    margin: 0 auto;
    .button {
        margin: 0 1em $gutter-width/2;
        max-width: 300px;
    }
    @include bp(m) {
        display: block;
    }
}
.button,
a.button,
main .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    @include nice-transition();
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    background: $orange;
    background-image: none;
    color: $white;
    padding: 0 30px;
    line-height: 2.5;
    text-transform: uppercase;
    font-family: $header-font;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-align: center;
    font-size: 14px;
    outline: none;
    border: none;
    border: 3px solid transparent;
    white-space: nowrap;
    &:focus {
        outline: none;
    }
    &:hover {
        border: 3px solid $orange;
        background: transparent;
        color: $white;
        font-weight: bold;
        text-decoration: none;
    }
    &.knockout {
        border: 3px solid $orange;
        background: transparent;
        &:hover {
            background:$orange;
            border-color: $orange;
            color:$white;
        }
    }
    &.knockout-orange {
        border: 3px solid $orange;
        background: transparent;
        color: $orange;
        &:hover {
            background: $orange;
            color: $white;
        }
    }
    &.hover-orange {
        &:hover {
            color: $orange;
        }
    }
}
main .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    &:hover {
        color: $orange;
    }
}
.cta-link {
    border: none;
    cursor: pointer;
    background: transparent;
    color: $orange;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    &:hover {
        color: $white;
    }
    &.hover-orange {
        &:hover {
            color: $orange;
        }
    }
}
