@import "../../common-sass/styles.scss";
@import "../../common-sass/icons.scss";
@import "./button";
@import "./wysiwyg";

body {
  font-family: $body-font;
  background: $body-bg-color;
  color: $body-text-color;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: $body-link-color;
  &:hover {
    color: $body-link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  letter-spacing: -1px;
  margin: 0;
  font-weight: 600;
}
p {
  @include paragraph-size();
  &.header-copy {
    font-family: $header-font;
  }
}
main {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
  }
  display: block;
}
.max-width {
  width: 85%;
  max-width: 85%;
  margin: 0 auto;
  @include bp(l) {
    max-width: 1280px;
    &.narrow {
      max-width: 960px;
    }
    &.wicked-narrow {
      max-width: 450px;
    }
  }
}
.interior {
  padding-top: 200px;
  text-align: center;
  background: black;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 30vh;
}
.centered {
  text-align: center;
}
.big-text {
  @include bp(m) {
    font-size: 1.5em;
  }
}
.purple-text {
  color: $purple;
}
.dark-purple-text {
  color: $dark-purple;
}

.light-section {
  &:before {
    content: "";
    display: block;
    background: $dark-purple;
    height: 100px;
    width: 100%;
    @include bp(m) {
      height: 80px;
    }
  }
}
.flex {
  @include bp(m) {
    display: flex;
    flex-wrap: wrap;
    .col-full {
      flex-basis: 100%;
    }
    .col-half {
      flex-basis: 50%;
    }
    .col-quarter {
      flex-basis: 25%;
    }
    .col-three-quarter {
      flex-basis: 75%;
    }
    .col-third {
      flex-basis: 33.3%;
    }
    .col-two-third {
      flex-basis: 66.6%;
    }
  }
}

.padding-top {
  padding-top: $gutter-width;
  @include bp(m) {
    padding-top: $gutter-width * 2;
  }
  &.short {
    padding-top: $gutter-width/2;
    @include bp(m) {
      padding-top: $gutter-width;
    }
  }
}
.padding-bottom {
  padding-bottom: $gutter-width;
  @include bp(m) {
    padding-bottom: $gutter-width * 2;
  }
  &.short {
    padding-bottom: $gutter-width/2;
    @include bp(m) {
      padding-bottom: $gutter-width;
    }
  }
}
.padding-both {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  @include bp(m) {
    padding-top: $gutter-width * 2;
    padding-bottom: $gutter-width * 2;
  }
  &.short {
    padding-top: $gutter-width/2;
    padding-bottom: $gutter-width/2;
    @include bp(m) {
      padding-top: $gutter-width;
      padding-bottom: $gutter-width;
    }
  }
}
.docs-page {
  display:flex;
}
.col-left, .col-right {
  flex-basis:25%;
}
.col-middle {
  flex-basis:50%;
}